# Core Web Framework
fastapi
gunicorn
uvicorn
python-multipart
aiofiles

# PDF and DOCX Processing
pypdf
pdfplumber
PyMuPDF
python-docx

# NLP and ML for Similarity Calculation
spacy==3.7.5
# SpaCy English Language Model (installed directly)
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
sentence-transformers

# LLM Integration
openai
python-dotenv